@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  font-weight: 300;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.untouchable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #f05039;
  transform-origin: left;
  z-index: 9999999999999;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.transition {
  transition: 0.3s ease;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  );
  visibility: visible;
  z-index: 9999; 
} */
/* Overlay for bars */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

/* Loading bars */
.bar {
  width: 10vw;
  height: 105vh;
  background-color: #f05039;
}

/* Counter text styling */
.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  color: #fff;
  font-family: "Carpenter", sans-serif;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
}

/* Bounce letter styling */
.bounce-letter {
  display: inline-block;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

.section-title {
  font-size: 16px;
  color: white;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: 50px;
  border: 1px solid #d8d9d8;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .counter {
    top: 100px;
    left: 20px;
    align-items: center;
  }
}

.texts-for-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  padding: 2rem;

  pointer-events: none;
}

@media screen and (max-width: 435px) {
  /* .texts-for-video; */
}

/* WIll Change  */

.phone-image,
.img-payment,
.illustration,
.right-illustrator,
.left-illustrator {
  will-change: transform, opacity, top, left, right, bottom;
}

#pay-review {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 260rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Overlay Text Styles */
.overlay-text,
.texts-for-video,
.text-top-left,
.text-top-right,
.text-bottom-left,
.text-bottom-right {
  position: absolute;
  transition: opacity 0.5s;
  opacity: 0;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  pointer-events: none;
}

.overlay-text {
  font-size: 2rem; /* Base font size */
  padding: 2rem;
  text-align: start;
}

.text-bottom-right > p {
  font-size: 1.5rem; /* Base font size */
}

/* Default Positions */
.text-top-left {
  top: 1rem;
  left: 1rem;
}
.text-top-right {
  padding-top: 0;
  padding-bottom: 0;
  top: 1rem;
  right: 1rem;
}
.text-bottom-left {
  bottom: 1rem;
  left: 1rem;
}
.text-bottom-right {
  bottom: 1rem;
  right: 1rem;
}
@media (max-width: 1251px) {
  .self-container > div {
    padding: 0.6rem;
    width: 100%;
    max-width: 85%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .text-content > h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: start;
  }
  .header-text {
    font-size: 2.8rem;
  }
  .overlay-text > h2 {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .overlay-text > p {
    font-size: 0.6rem;
  }
  .text-bottom-right > p {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: -0.8rem;
  }
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .text-top-left,
  .text-top-right {
    display: none;
  }

  .text-bottom-left {
    top: 1rem;
    left: 0;
    right: 0;
    transform: none;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    bottom: auto;
  }

  .text-bottom-right > p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: -0.8rem;
  }
}
.container-pay-review {
  padding-top: 25px;
  padding-bottom: 25px;
}
.bottom-divs,
.top-divs {
  gap: 100px;
}
.bottom-div,
.top-div {
  width: 120px;
}

@media screen and (min-width: 1200px) {
  .right-illustrator img,
  .left-illustrator img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .right-illustrator,
  .left-illustrator {
    height: 30vh !important;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-div {
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999999;
  }
}

@media screen and (max-width: 1200px) {
  .bottom-divs,
  .top-divs {
    max-width: 100%;
    justify-content: space-between;
  }
  .right-illustrator img,
  .left-illustrator img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .right-illustrator,
  .left-illustrator {
    top: 50%;
    transform: translateY(-50%);
    height: 30vh !important;
  }

  .main-div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
  }
  .container-pay-review {
    height: 100svh;
  }
}

@media screen and (max-width: 900px) {
  .bottom-divs,
  .top-divs {
    gap: 30px;
    height: 50vh;
  }
  .bottom-div,
  .top-div {
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .bottom-divs,
  .top-divs {
    height: 30vh !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    gap: 0;
  }
  .top-div:nth-of-type(1) {
    transform: translateX(15px);
  }
  .top-div:nth-of-type(2) {
    transform: translateX(-15px);
  }
  .top-div:nth-of-type(3) {
    transform: translateX(-70px);
  }
  .top-div:nth-of-type(4) {
    transform: translateX(70px);
  }

  .bottom-div:nth-of-type(1) {
    transform: translateX(-70px);
  }
  .bottom-div:nth-of-type(2) {
    transform: translateX(70px);
  }
  .bottom-div:nth-of-type(3) {
    transform: translateX(15px);
  }
  .bottom-div:nth-of-type(4) {
    transform: translateX(-15px);
  }
  .bottom-div,
  .top-div {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  .main-div {
    height: 40vh;
  }
  .right-illustrator,
  .left-illustrator {
    height: 30vh !important;
  }
}

@media screen and (max-width: 450px) {
  .bottom-divs,
  .top-divs {
    height: 20vh;
  }

  .top-div:nth-of-type(1) {
    transform: translateX(10px);
  }
  .top-div:nth-of-type(2) {
    transform: translateX(-10px);
  }
  .top-div:nth-of-type(3) {
    transform: translateX(-30px);
  }
  .top-div:nth-of-type(4) {
    transform: translateX(30px);
  }

  .bottom-div:nth-of-type(1) {
    transform: translateX(-30px);
  }
  .bottom-div:nth-of-type(2) {
    transform: translateX(30px);
  }
  .bottom-div:nth-of-type(3) {
    transform: translateX(10px);
  }
  .bottom-div:nth-of-type(4) {
    transform: translateX(-10px);
  }

  .main-div {
    height: 35vh;
  }

  .right-illustrator,
  .left-illustrator {
    height: 20vh !important;
  }
}

@media screen and (max-width: 380px) {
  .container-pay-review {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .bottom-divs,
  .top-divs {
    height: 25vh !important;
    grid-template-columns: 2;
    gap: 0px;
    padding: 0px;
  }

  .right-illustrator,
  .left-illustrator {
    height: 12vh !important;
    top: 50%;
    transform: translateY(-50%);
  }
  .bottom-div,
  .top-div {
    transform: translateX(0px) !important;
  }
  .main-div {
    height: 30vh !important;
  }
}

/* Video Container Styles */
.video-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.vid {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

#how-it-works {
  min-height: 600vh;
}
@media screen and (max-width: 1000px) {
  .vid {
    top: 40%;
    transform: translate(-50, 40%);
  }

  .video-container {
    padding-top: 5px !important;
  }
  .text-bottom-right p {
    bottom: 0;
    left: 0;
    right: 0;
    transform: none;
    width: 100%;
    font-size: 1rem !important;
    font-weight: 400;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .text-bottom-left {
    top: 0;
    padding: 0;
  }
  .text-bottom-right {
    bottom: 0;
    width: 100%;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-height: 900px) {
  #how-it-works {
    min-height: 400vh;
  }
}

@media screen and (max-height: 800px) {
  #how-it-works {
    min-height: 400vh;
  }
}

@media screen and (max-height: 700px) {
  #how-it-works {
    min-height: 650vh;
  }
}

@media screen and (max-height: 600px) {
  #how-it-works {
    min-height: 900vh;
  }
}
